@charset "UTF-8";

/*共通Css*/



    /*559px*/


/*

    @media (max-width:450px) {

       #pic {
    z-index: 100000;
    top: 35%;
    left: 30%;
    position: absolute;
}
            ここから編集


    }


 @media (max-width:300px) {


pic {
    z-index: 100000;
    top: 35%;
    left: 20%;
    position: absolute;
}
     
}*/
