@charset "UTF-8";

/*共通Css*/

@media (max-width:799px){
    .sisha img{
        margin-top: -150px;
    }
    
}

    /*559px*/
        
       @media (max-width:559px) {
    #right_footer {
        margin-left: -40px;
    }

    .Form {
        width: 300px;
        font-size: 0.85em;
    }

    #footer_annotation p {
        font-size: 0.85em;
    }
}


@media (max-width:450px){
    
    #footer_annotation p {
        font-size: 0.75em;
    }
    
    
    
}